[submodule "external/goto-ruby"]
	path = external/goto-ruby
	url = https://github.com/CppPhil/goto-ruby.git
[submodule "external/libcaf"]
	path = external/libcaf
	url = https://github.com/actor-framework/actor-framework.git
[submodule "external/philslib"]
	path = external/philslib
	url = https://github.com/CppPhil/philslib.git
[submodule "external/clang-format"]
	path = external/clang-format
	url = https://github.com/CppPhil/clang-format.git
[submodule "external/fmtlib"]
	path = external/fmtlib
	url = https://github.com/fmtlib/fmt.git
[submodule "external/optional"]
	path = external/optional
	url = https://github.com/TartanLlama/optional.git
